version: '3.9'

services:
  web:
    build:
      context: ./web
      dockerfile: Dockerfile
      args:
        VITE_API_URL: /
    ports:
      - "8080:80"
    networks:
      - app-network
    depends_on:
      api:
        condition: service_started
      nginx:
        condition: service_started

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    environment:
      - PORT=3000
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public
    env_file:
      - .env
    volumes:
      - ./api/logs:/app/logs
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
    restart: always

  migration:
    build:
      context: ./api
      dockerfile: Dockerfile
      target: builder
    command: sh -c "npx prisma db push"
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  nginx:
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
      - EMAIL=${EMAIL}
    volumes:
      - certs:/etc/letsencrypt
      - web-root:/var/www/certbot
    depends_on:
      - web
      - api
    networks:
      - app-network
    restart: always

  certbot:
    image: certbot/certbot
    volumes:
      - certs:/etc/letsencrypt
      - web-root:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      - app-network

  db:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  certs:
  web-root:
  pgdata:
